.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 12px 148px 0;
}

@media screen and (max-width: 1120px) {
    .places {
        max-width: 928px;
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 960px) {
    .places {
        max-width: 720px;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 16px;
    }
}

@media screen and (max-width: 630px) {
    .places {
        max-width: 100%;
        padding-top: 14px;
        padding-right: 0px;
        padding-left: 0px;
    }
}